Repository norwd/norwd, changes with the labels that .github/labeler.yml gives for each.
All labels: github, documentation, chore

.github/labeler.yml:

#
# Define automatically applied labels
#

---

github:
  - ".github/**"

documentation:
  - "**.md"

chore:
  - "**.gitignore"
  - "**.gitattributes"

Add markdown to editorconfig
  .editorconfig
Labels: none

Rename .github/README.md to README.md
  README.md
Labels: documentation

Fix line length
  .github/SECURITY.md
Labels: github

Create LICENSE
  LICENSE
Labels: none

Add xkcd.com/2645 to fortunes
  README.md
Labels: documentation

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: github

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

Update dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: github

Allow PRs to skip release notes by adding labels
  .github/release-drafter.yml
Labels: github

Unset 80 char line limit on markdown and yml/json
  .editorconfig
Labels: none

Disable markdown lint on README
  README.md
Labels: documentation

Create codeql.yml
  .github/workflows/codeql.yml
Labels: github

Create go.yml
  .github/workflows/go.yml
Labels: github

Delete CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: github

Delete CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: github

Delete FUNDING.yml
  .github/FUNDING.yml
Labels: github

Delete PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

Delete SECURITY.md
  .github/SECURITY.md
Labels: github

Delete .github/ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

Delete .github/workflows directory
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/enable_auto_merge.yml
  .github/workflows/go.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Labels: github

Delete dependabot.yml
  .github/dependabot.yml
Labels: github
